.content {
  width: 80%;
  /*min-height: 20%*/
  margin: 20px auto 0;
  background-color: @content-bg-color;
  /*border-radius: 5px;*/
  /*border: 10px solid rgba(255, 255, 255, 0.2);*/
  /*background-clip: padding-box;*/
}

@content-bg-color: darken(#fff, 13%);
