@import "colors";

.navbar {
  background-color: @navbar-bg-color;
  padding: 0.4em;
  * { color: @white; }
}

.navbar-brand {
  font-size: @navbar-brand-font-size;
  padding: 0 2em;
}

@navbar-bg-color: @purple-5;
@navbar-brand-font-size: @base-font-size + 12;
