.navbar {
  background-color: @navbar-bg-color;
  padding: 0.4em;
  * { color: @navbar-color; }
}

.navbar-brand {
  text-shadow: 0.05em 0.05em #333;
  font-size: @navbar-brand-font-size;
  padding: 0 2em;
  &:hover { text-decoration: none; }
}

.navbar-menu {
  .list-inlined;
  vertical-align: middle;
  li {
    a {
      font-size: @base-font-size + 2;
      &:hover {
        text-decoration: none;
        text-shadow: 0.05em 0.05em @navbar-color;
        .transition(1s);
      }
    }
    padding: 0 1em;
  }
}

@navbar-color: @white;
@navbar-bg-color: @purple-5;
@navbar-brand-font-size: @base-font-size + 10;
