* {
  font-size: @base-font-size;
  font-family: @base-font;
  color: @base-color;
}

html, body {
  line-height: 1.5;
  background-color: @base-bg-color;
}

table {
  border-collapse: separate;
  border-spacing: 0;

  caption, th {
    text-align: center;
  }

  td {
    text-align: left;
  }

  caption, th, td {
    vertical-align: middle;
  }
}

a img {
  border: none;
}

// Typography

.gigantic {
  font-size: 110px;
  line-height: 120px;
  letter-spacing: -2px;
}

.huge, h1 {
  font-size: 68px;
  line-height: 72px;
  letter-spacing: -1px;
}

.large, h2 {
  font-size: 42px;
  line-height: 48px;
}

.bigger, h3 {
  font-size: 26px;
  line-height: 36px;
}

.big, h4 {
  font-size: 22px;
  line-height: 30px;
}

.small, small {
  font-size: 13px;
  line-height: 18px;
}

//
// Configuration
//

@base-font: "Helvetica-Neue", "Helvetica", Arial, sans-serif;
@base-font-size: 16px;
@base-color: #111;
@base-bg-color: darken(#800080, 20%);

//
// Frameless reset
//

@import "frameless.less";
