<nav class="navbar navbar-inverse navbar-fixed-top">
  <div class="navbar-header">
    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar-collapse">
      <span class="sr-only">Toggle navigation</span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
    </button>
    <a class="navbar-brand" href="/">
      jmcomets.com
    </a>
  </div>

  <div id="navbar-collapse" class="collapse navbar-collapse">
    <ul class="nav navbar-nav">
      <li><a href="/small_talk.html">Small talk</a></li>
      <li><a href="/cinema.html">Cinema</a></li>
      <li><a href="/programming.html">Programming</a></li>
      <li><a href="/projects.html">Projects</a></li>
      <li><a href="/about.html">About</a></li>
    </ul>
  </div>
</nav>
