<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>{% block title %}{% endblock %} | jmcomets.com</title>
    <!--[if lt IE 9]>
      <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
    <meta name="viewport" content="width=device-width, initial-scale=1">

    {# Head #}
    {% block head %}

    {# Static files #}
    {% load staticfiles %}

    {# Less #}
    {% block less %}
    <link type="text/css" rel="stylesheet/less" href="{% static "less/base.less" %}">
    {% endblock %}
    <script type="text/javascript" src="{% static "js/less-1.4.2.min.js" %}"></script>

    {# CSS #}
    {% block css %}
    <link type="text/css" rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.0/css/font-awesome.min.css">
    {% endblock %}

    {% endblock %}
  </head>
  <body>
    {# Body #}
    {% block body %}

    {# Navbar #}
    <nav class="navbar">
      {% block header %}
      <span class="navbar-brand">
        jmcomets.com
      </span>
      {% endblock %}
    </nav>

    {# Content #}
    <div class="content">
      <section class="content-main">
        {% block content %}
        {# TODO #}
        {% endblock %}
      </section>
      <section class="content-sidebar">
        {% block sidebar %}
        {# TODO #}
        {% endblock %}
      </section>
    </div>

    {# Footer #}
    <footer class="footer">
      {% block footer %}
      {# TODO #}
      {% endblock %}
    </footer>

    {% endblock %}

    {# JavaScript #}
    {% block js %}
    {% endblock %}
  </body>
</html>
