{% extends "base.html" %}

{% block title %}
Home
{% endblock %}

{% block content %}

{% for post in posts %}
<article class="post">
  <h4 class="post-title">{{ post.title }}</h4>
  <p class="post-content">
    {{ post.content }}
  </p>
</article>
{% endfor %}

{% endblock %}

{% block sidebar %}

<nav class="nav-sidebar">
  <ul>
    <li><a href="https://github.com/jmcomets">Github</a></li>
    <li><a href="https://plus.google.com/116899803883440989724">Google</a></li>
    <li><a href="http://www.linkedin.com/profile/view?id=222383457">LinkedIn</a></li>
  </ul>
</nav>

{% endblock %}
