{% extends "base.html" %}

{% block title %}
Home
{% endblock %}

{% block content %}

<article class="post">
  <h4 class="post-title">Under contruction</h4>
  <p class="post-content">
    This website is currently under active development, come back soon !
    &nbsp;
    <i class="fa fa-smile-o"></i>
  </p>
  </p>
</article>

<article class="post">
  <h4 class="post-title">A sample post</h4>
  <p class="post-content">
    This is a basic post with some content to make it look a little long.
  </p>
  </p>
</article>

{% endblock %}

{% block sidebar %}

<nav class="nav-sidebar">
  <ul>
    <li><a href="#" class="disabled">Foo</a></li>
    <li><a href="#">Bar</a></li>
    <li><a href="#">Baz</a></li>
  </ul>
</nav>

{% endblock %}
