{% extends "base.html" %}

{% block title %}
Home
{% endblock %}

{% block content %}

<article class="post">
  <h4 class="post-title">Under contruction</h4>
  <p class="post-content">
    This website is currently under active development, come back soon !
    <i class="icon-smiley"></i>
  </p>
  </p>
</article>

{% endblock %}

{% block sidebar %}

<nav class="sidebar-nav">
  <ul>
    <li><a href="#">Foo</a></li>
    <li><a href="#">Bar</a></li>
    <li><a href="#">Baz</a></li>
  </ul>
</nav>

{% endblock %}
