<!DOCTYPE html>
<!--[if lt IE 7 ]><html class="ie ie6" lang="en"> <![endif]-->
<!--[if IE 7 ]><html class="ie ie7" lang="en"> <![endif]-->
<!--[if IE 8 ]><html class="ie ie8" lang="en"> <![endif]-->
<!--[if (gte IE 9)|!(IE)]><!--><html lang="en"> <!--<![endif]-->
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{{ page.title }} | {{ site.vars.name }}</title>
    <meta name="author" content="{{ site.vars.name }}" />
    <meta name="description" content="The blog of {{ site.vars.name }}" />
    <link rel="canonical" href="{{ site.url }}{{ page.url | replace:'index.html','' }}" />

    <link href="//fonts.googleapis.com/css?family=Open+Sans:600,800" rel="stylesheet" type="text/css">
    <link rel="shortcut icon" href="/favicon.png">
    <link rel="alternate" type="application/rss+xml" title="{{ site.vars.name }}" href="{{site.url}}/atom.xml" />

    <link rel="stylesheet" href="/assets/css/bootstrap.min.css">
    <link rel="stylesheet" href="/assets/css/custom.css">
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.1/css/font-awesome.min.css">

    <script type="text/javascript" src="/assets/js/jquery.min.js"></script>
    <script type="text/javascript" src="/assets/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="/assets/js/angular.min.js"></script>
    <script type="text/javascript" src="/assets/js/xml2json.min.js"></script>
  </head>
  <body>
    <!-- Header -->
    {% include header.html %}

    <!-- Content -->
    <div class="container">
      <div class="col-md-10 col-md-offset-1">
        {{ content }}
      </div>
    </div>

    <!-- Footer -->
    {% include footer.html %}

    <!-- Analytics -->
    {% include analytics.html %}
  </body>
</html>
